body {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  width: calc(100vw - 40px);
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

video {
  margin: 0;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 2rem;
}

textarea {
  max-width: 500px;
  resize: none;
  text-align: center;
  font-size: 16px;
  padding-top: 1rem;
  margin: 0;
  border-radius: 5px;
}

.infos {
  font-size: 1.2rem;
  line-height: 1.6;
  background: rgb(236, 239, 241);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.result {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 600;
}

h1 {
  font-size: 1.7rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer {
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(236, 239, 241);
  border-radius: 5px;
  margin-top: 3rem;
}

.footer p {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgb(38, 50, 56);
  vertical-align: middle;
}
